---

---

<nav class="Nav">
	<a href="/">Inicio</a>
	<a href="/about">Nosotros</a>
	<a href="/blog">Blog</a>
</nav>
<style lang="scss">
	.Nav {
		display: flex;
		flex-wrap: nowrap;
		gap: 0.5rem;

		a {
			padding: 0.3rem;
			background-color: yellowgreen;
			color: black
		}
	}
</style>
