---

---

<nav class="nav-links">
  <a href="/">Inicio</a>
  <a href="/about">Nosotros</a>
  <a href="/blog">Blog</a>
</nav>

<style lang="scss">
  .nav-links {
    transition: all ease 0.5s;
    height: 40px;
    display: flex;
    flex-flow: row nowrap;
    gap: 1em;
  }

  .nav-links a {
    display: block;
    text-align: center;
    padding: 10px 0;
    text-decoration: none;
    font-size: 1.2rem;
    font-weight: bold;
    text-transform: uppercase;
    color: yellow;
  }

  @media screen and (max-width: 500px) {
    .nav-links {
      display: none;
      position: static;
      width: auto;
      background: none;
      height: 0;
    }

    .nav-links a {
      display: inline-block;
      padding: 15px 20px;
    }
  }

  .isActive {
    display: block;
  }
</style>
