---
import BaseLayout from "../layouts/BaseLayout.astro";
const allPosts = await Astro.glob('../pages/posts/*.md');
const pageTitle = "Blog";

---

<BaseLayout pageTitle="Blog">
	<h1>{pageTitle}</h1>
	<p>Todas nuestras noticias</p>

	<nav>
		{allPosts.map((post) => <a href={post.url}>{post.frontmatter.title}</a>)}
	</nav>
</BaseLayout>

<style>
	nav {
		display: flex;
		flex-flow: column nowrap;
		gap: 1rem
	}
</style>