---
import BaseLayout from "../layouts/BaseLayout.astro";
const pageTitle = "Inicio";
---

<BaseLayout>
  <h1>{pageTitle}</h1>
  <p>
    Quede en: <a href="https://docs.astro.build/es/tutorial/4-layouts/"
      >"Check in: Unidad 4 - Plantillas"</a
    >
  </p>
</BaseLayout>
