---
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout
  pageTitle="La Ruta de la Quena"
  description="Descripcion de mi página Web"
>
  <h1>Bienvenidos a mi Catalogo y Blog</h1>
</BaseLayout>
